@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #235284;
    --foreground: #000000;
  }
}

body {
  padding-top: 20px;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: #3982b8; /* Fallback */
  background: linear-gradient(90deg, #235284 0%, #3982b8 50%, #4194cb 100%);
}



